<p id="notice"><%= notice %></p>

<h1>Data For <%= @month_name + " " + @year.to_s%>:</h1>
<p>
  <table class="table">
      <% @records.each do |record| %>
        <tr>
          <td><a href="/show_previous/<%=record.id%>"><%= record.time_recorded %></a></td>
        </tr>
      <% end %>
  </table>
</p>

<p>
	<a href="/previous_data">Back</a>
</p>